@page
@model IndexModel

@using BleakwindBuffet.Data;

@{
    <!--The title is set to "Home page"-->
    ViewData["Title"] = "Home page";
}

<!--Form for searching menu items-->
<form>
    <h2 class="category">Let us help you!</h2>
    <!--Code for the search bar-->
    <div>
        <input type="text" name="SearchItems" value="@Model.SearchTerms" />
        <input type="submit" value="Search" />
    </div>

    <!--Checkboxes for the different categories-->
    <div>
        <h4>Choose the category: </h4>
        <label>
            <input type="checkbox" name="Categories" value="Entree" checked="@Model.Categories.Contains("Entree")" />
            Entree
        </label>

        <label>
            <input type="checkbox" name="Categories" value="Drink" checked="@Model.Categories.Contains("Drink")" />
            Drink
        </label>

        <label>
            <input type="checkbox" name="Categories" value="Side" checked="@Model.Categories.Contains("Side")" />
            Side
        </label>
    </div>

    <!--The number boxes for the price range-->
    <h4 class="PClabel">Select price range: </h4>
    <div>
        <input type="number" name="PriceMin" min="0" max="999" step="0.01" placeholder="min" />
        to
        <input type="number" name="PriceMax" min="0" max="999" step="0.01" placeholder="max" />
    </div>

    <!--The number boxes for the calories range-->
    <h4 class="PClabel">Select calorie range: </h4>
    <div>
        <input type="number" name="CalorieMin" min="0" max="999" step="1" placeholder="min" />
        to
        <input type="number" name="CalorieMax" min="0" max="999" step="1" placeholder="max" />
    </div>
</form>



<!--Bleakwind Buffet's welcome message-->
<h1 class="display">Welcome to Bleakwind Buffet!</h1>
<p class="display-2">
    We at Bleakwind Buffet are proud to bring you authentic
    fantasy meals straight from the world of Skyrim. Shake the
    blood off your sword and sake your thirst with one of our old-fashioned
    sailor sodas. Hack into a Smokehouse Skeleton with your dagger.
    Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard
    adventure and earned your loot, so spend it with us!
</p>

<div class="flex-columns">
    <div class="col">
        <!--Label and list of all entree menu items. If there are none to display it will display a 'no results' message-->
        <h2 class="category">Entrees</h2>
        @if (Model.EntreeItems.Count() == 0)
        {
            <div>
                ~ No Results ~
            </div>
        }
        @foreach (IOrderItem entree in Model.EntreeItems)
        {
            <div class="details">
                <div class="name">@(entree.ToString() + " (" + entree.Calories + ")")</div>
                <div class="description">@("   " + entree.Description)</div>
                <div class="price">Price: @("$" + entree.Price)</div>
            </div>
        }
    </div>

    <div class="col">
        <!--Label and list of all drink menu items. If there are none to display it will display a 'no results' message-->
        <h2 class="category">Drinks</h2>
        @if (Model.DrinkItems.Count() == 0)
        {
            <div>
                ~ No Results ~
            </div>
        }
        @foreach (IOrderItem drink in Model.DrinkItems)
        {
            <div class="details">
                <div class="name">@(drink.ToString() + " (" + drink.Calories + ")")</div>
                <div class="description">@(drink.Description)</div>
                <div class="price">Price: @("$" + drink.Price)</div>
            </div>
        }
    </div>

    <div class="col">
        <!--Label and list of all side menu items. If there are none to display it will display a 'no results' message-->
        <h2 class="category">Sides</h2>
        @if (Model.SideItems.Count() == 0)
        {
            <div>
                ~ No Results ~
            </div>
        }
        @foreach (IOrderItem side in Model.SideItems)
        {
            <div class="details">
                <div class="name">@(side.ToString() + " (" +side.Calories + ")")</div>
                <div class="description">@(side.Description)</div>
                <div class="price">Price: @("$" + side.Price)</div>
            </div>
        }
    </div>
</div>

<!--Added an extra h1 to create a space between these two things-->
<h1/>

<!--Label for the combo option-->
<h2 class="category">Create a Combo!</h2>
<div>Combine any entree, drink, and side for a $1 discount!</div>

<!--Label to display all soda flavors-->
<h2 class="category">Soda Flavors: </h2>
<div>
    <p>Blackberry, Cherry, Grapefruit, Lemon, Peach, Watermelon</p>
</div>
